{% extends 'layout.html' %}

{% block index %}
    <nav class="navbar navbar-dark bg-dark border border-light border-start-0 border-top-0 border-end-0">
        <div>
        <button class="btn btn-success" onclick="location.href='/'">Inicio</button>
        <button class="btn btn-success" onclick="location.href='/cartones/1'">Ver cartones</button>
        </div>
    </nav>

    
    <footer>
        White enterprice - Grupo C
        <h1>{{ cantidad_paginas }}</h1>
    </footer>
{% endblock index %}